<phpunit
        bootstrap="tests/bootstrap.php"
        colors="true">
	<php>
		<includePath>.</includePath>
		<ini name="short_open_tag" value="On"/>
	</php>
    <testsuites>
        <testsuite name="Testsuite for Akop Classes">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>